@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
:root {
    --fontFamily: 'Poppins', sans-serif;
    --fontSize: 16px;
    --tamnoPlava: #003568;
    --svetloPlava: #92e0f9;
    --tamnoSiva: #20333b;
    --tamnoCrvena: #ff5a57;
    --svetloCrvena: #ff9b9a;
    --svetloSiva: #def2fa;
    --bela: #fff;
    --transition: .4s ease;
    --padding: 60px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    color: var(--tamnoSiva);
    font-weight: 300;
}
a {
    text-decoration: none;
}
a:hover {
    transition: var(--transition);
}
.container {
    max-width: 1140px;
    margin: auto;
}
button {
    padding: 15px 30px;
    border: 2px solid var(--bela);
    background: transparent;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 20px;
    color: var(--bela);
}
button:hover {
    background: var(--bela);
    color: var(--tamnoSiva);
    transition: var(--transition);
    box-shadow: 4px 4px 0px var(--tamnoSiva);
}
h2 {
    font-size: 3rem;
    color: var(--tamnoPlava);
}
h2::after {
    display: block;
    content: "";
    width: 100px;
    height: 5px;
    background: var(--tamnoPlava);
    margin: 10px 0 30px 0;
}
/*****************
nav
*****************/
nav {
    background: var(--svetloSiva);
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
nav .container {
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li {
    margin: 0 30px;
}
nav ul li a {
    font-size: 20px;
    color: var(--tamnoSiva);
}
nav ul li a:hover {
    color: var(--tamnoCrvena);
}
.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--tamnoCrvena);
}
.logo:hover {
    color: var(--tamnoSiva);
}
.stickyAdd {
    box-shadow: 0 2px 10px 5px rgba(0,0,0,.5);
    transition: .5s all;
    padding: 0;
}
hr {
    display: block;
    content: "";
    border: none;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--tamnoPlava),var(--svetloPlava),var(--svetloCrvena), var(--tamnoCrvena));
    margin: 50px 0;
}
/*****************
header
*****************/
.mainHeader {
    padding: 150px 0 200px 0;
    background: linear-gradient(45deg, var(--tamnoCrvena), var(--svetloPlava));
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.mainHeader img {
    width: 100%;
}
.mainHeader .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.mainHeader .container article:first-child {
    flex: 0 0 60%;
}
.mainHeader .container article:last-child {
    flex: 0 0 40%;
}
.mainHeader p {
    font-size: 1.2rem;
    color: var(--bela);
    text-shadow: 2px 2px 0px var(--tamnoSiva);
}
.tipkajuciNaslov {
    color: var(--bela);
    text-shadow: 0 0 1px var(--tamnoSiva);
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
.tipkajuciNaslov::after {
    content: "";
    width: 5px;
    height: 45px;
    background: var(--bela);
    position: absolute;
    top: 10px;
    animation: blinkanje 1s 5s infinite;
}
@keyframes blinkanje {
    0% {
        background: var(--bela);
    }
    50% {
        background: transparent;
    }
    100% {
        background: var(--bela);
    }
}
/*****************
onama
*****************/
#onama {
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#onama img {
    width: 100%;
}
#onama article:first-child {
    flex: 0 0 55%
}
#onama article:last-child {
    flex: 0 0 35%;
}
#onama button {
    border: 2px solid var(--tamnoSiva);
    color: var(--tamnoSiva);
}
/*****************
usluge
*****************/
#usluge {
    padding: var(--padding);
    text-align: center;
}
#usluge h2::after {
    margin: 10px auto 30px auto;
}
#usluge .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#usluge article {
    flex: 0 0 30%;
    background: var(--svetloSiva);
    border-radius: 10px;
}
#usluge article .text {
    padding: 30px;
}
#usluge article header {
    background: var(--tamnoPlava);
    padding: 20px;
    color: var(--bela);
    border-radius: 10px 10px 0 0;
}
#usluge article header i {
    font-size: 1.7rem;
}
#usluge button {
    border: 2px solid var(--tamnoPlava);
    color: var(--tamnoPlava);
}
#usluge h3 {
    font-size: 1.7rem;
    padding: 0 0 20px 0;
}
/*****************
footer
*****************/
footer {
    background: var(--tamnoPlava);
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
    padding: 180px 0 100px 0;
    color: var(--bela);
}
footer h2 {
    color: var(--bela);
    text-align: center;
}
footer h2::after {
    background: var(--bela);
    margin: 20px auto 40px auto;
}
footer h2 + p {
    font-size: 1.2rem;
    padding: 0 0 30px 0;
    text-align: center;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3;
    flex-wrap: wrap;
}
footer article:first-child {
    flex: 0 0 55%;
}
footer article:last-child {
    flex: 0 0 35%;
}
.bottomBar {
    background: var(--svetloSiva);
    padding: 15px;
    text-align: center;
}
/*****************
responsive
*****************/
@media(max-width: 768px) {
    .container {
        padding: 10px;
    }
    nav {
        position: static;
    }
    nav .container {
        flex-direction: column;
    }
    .logo {
        display: block;
        margin: auto;
    }
    nav ul {
        justify-content: center;
    }
    nav ul li {
        margin: 0 10px;
    }
    .mainHeader .container article:first-child,
    .mainHeader .container article:last-child,
    #onama article:first-child,
    #onama article:last-child,
    #usluge article,
    footer article:first-child,
    footer article:last-child {
        flex: 0 0 100%;
        margin-bottom: 30px
    }
    .mainHeader {
        clip-path: polygon(0 1%, 100% 1%, 100% 90%, 0% 100%);
        padding: 50px 0;
    }
    footer {
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        padding: 120px 0 50px 0;
        color: var(--bela);
    }
    .tipkajuciNaslov {
        font-size: 25px;
    }
    .tipkajuciNaslov::after {
        height: 25px;
    }
}






